section#featured {
  grid-area: featured;

  & .card {
    height: 12.5rem;
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;

    & img {
      height: 100%;
      width: 100%;
    }

    & figcaption {
      height: 100%;
      position: absolute;
      bottom: 0;
      padding: 2.25rem 0.75rem 0.75rem;
      background: linear-gradient(to bottom, #02061700 0%, #020617 100%);

      & h3 {
        max-height: 6rem;
        display: -webkit-box;
        -webkit-box-orient: vertical; 
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }

    &.main-card {
      height: 26rem;

      & figcaption {
        height: 50%;
        padding: 2rem 1rem 1rem;
      }
    }
  }
}

@media (48rem <= width < 64rem) {
  section#featured { 

    & .card {
      & figcaption {
        padding: 2.25rem 1rem 1rem;
      }

      &.main-card {

        & figcaption {
          padding: 2.25rem 1.25rem 1.25rem;
        }

      }
    }

     & div.cards-group {
      grid-template-columns: repeat(2, 1fr);
     }
  }
}

@media (width >= 64rem) {
  section#featured { 
    grid-template-columns: 1.027027fr 1fr;

    & .card {
      & figcaption {
        padding: 2.25 0.75rem 0.75rem;
      }

      &.main-card {
        & figcaption {
          padding: 3.75rem 1.5rem 1.5rem;
        }
      }
    }

     & div.cards-group {
      grid-template-columns: repeat(2, 1fr);
     }
  }
}