section#weekly {
  grid-area: weekly;

  & .cards-group {
    gap: 2rem;

    & .card {
      height: 14.625rem;
      position: relative;

      & content-tag {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
      }

      & img {
        width: 100%;
        height: 10rem;
      }

      & figcaption {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0.5rem;
      }
    }
  }
}

@media (width >= 48rem) {
  section#weekly {
    & .cards-group {
      gap: 1rem;
    }
  }
}
