body > main > aside {
  grid-area: aside;

  & a:has(img[src*="ads"]) {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;

    & button {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      padding: 0.125rem;
      border: none;

      & .icon {
        font-size: 1rem;
        color: var(--brand-color-light);
      }
    }
  }
}

@media (width >= 48rem) {
  body > main > aside {
    & a img[src*="ads-tablet"] {
      width: 100%;
    }
  }
}

@media (width >= 64rem) {
  body > main > aside {
    & a img[src*="ads"] {
      object-fit: fill;
      height: 17.5rem;
    }
  }
}