*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Brand colors */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;

  /* Base colors */
  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  /* Text colors */
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* Font family */
  --ff-archivo: "Archivo", serif;
  --ff-archivo-black: "Archivo Black", serif;

  /* Font sizes */
  --fs-lg: 1.5rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Line heights */
  --lh-135: 1.35;
  --lh-140: 1.40;
  --lh-145: 1.45;
  --lh-160: 1.60;

  /* Font properties */
  --text-2xl: var(--fw-extrabold) var(--fs-lg) / var(--lh-135) var(--ff-archivo);
  --text-xl: var(--fw-extrabold) var(--fs-md) / var(--lh-140) var(--ff-archivo);
  --text-lg: var(--fw-extrabold) var(--fs-sm) / var(--lh-140) var(--ff-archivo);
  --text-md: var(--fw-semibold) var(--fs-sm) / var(--lh-145) var(--ff-archivo);
  --text-sm: var(--fw-regular) var(--fs-sm) / var(--lh-160) var(--ff-archivo);
}

body {
  background-color: var(--bg-color);
  font: var(--fw-extrabold) var(--fs-sm) / var(--lh-140) var(--ff-archivo);
  color: var(--text-color-primary);
}

h1, h2, h3 {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}