body > main {
  margin-block: 1rem 2.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "featured"
    "weekly"
    "ai"
    "aside";
  row-gap: 2rem;

  & content-tag {
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-transform: uppercase;
    font: var(--fw-medium) 0.625rem/1.2 var(--ff-archivo);
    letter-spacing: 0.04em;
    background-color: var(--brand-color-dark);
  }
}


@media (48rem <= width < 64rem) {

  body > main {
    margin-block: 2rem 3.75rem;
    row-gap: 2.5rem;
  }

}


@media (width >= 64rem) {
  body > main {
    margin-block: 2.5rem 5rem;
    grid-template-columns: 1.42622951fr 1fr;
    grid-template-areas: 
    "featured featured"
    "weekly weekly"
    "ai aside";
    row-gap: 5rem;
    column-gap: 2rem;
  }

}

