.container {
  --max-width: 47.9375rem;
  --padding-inline: 1rem;

  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}

.md-block {
  display: none;
}

.lg-block {
  display:none
}

.fs-lg {
  font-size: var(--fs-lg);
}

.fs-md {
  font-size: var(--fs-md);
}

.fs-sm {
  font-size: var(--fs-sm);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-medium {
  font-weight: var(--fw-medium);
}

.fw-semibold {
  font-weight: var(--fw-semibold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-extrabold {
  font-weight: var(--fw-extrabold);
}

.lh-135 {
  line-height: var(--lh-135);
}

.lh-140 {
  line-height: var(--lh-140);
}

.lh-145 {
  line-height: var(--lh-145);
}

.lh-160 {
  line-height: var(--lh-160);
}

.text-sm {
  font: var(--text-sm);
}

.text-md {
  font: var(--text-md);
}

.text-lg {
  font: var(--text-lg);
}

.text-xl {
  font: var(--text-xl);
}

.text-2xl {
  font: var(--text-2xl);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.gap-0\.5 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.color-secondary {
  color: var(--text-color-secondary);
}

@media (48rem <= width < 64rem) {
  .container {
    --max-width: 63.9375rem;
    --padding-inline: 1.5rem;
  }

  .md-block {
    display: block;
  }
}

@media (width >= 64rem) {
  .container {
    --max-width: 80rem;
    --padding-inline: 2rem;
  }

  .md-block {
    display: block;
  }

  .lg-block {
    display: block;
  }
}